<div>
    <p>
      <label class="txt">Product Name:</label><br>
      <input class="form-control input" type="text" #query><br>
      <button class="btn btn-primary" (click)="submit(query)">Search</button>
    </p>

    <div *ngIf="results">
        <div *ngFor="let t of results.meals">
            MEAL: {{t.strMeal}}<br>
            ID: <a [routerLink]="['/item-pokemon', t.idMeal]">{{t.idMeal}}</a><br>
            <img src="{{t.strMealThumb}}" alt="" style="height: 200px; width:200px;">
            <hr>
        </div>
    </div>
</div>